.container {
  padding: 0 0rem;
  background-color: black;
}

.main {
  min-height: 800px;
  padding: 0rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
